@CHARSET "ISO-8859-1";

/* Basic template selectors */
body{
	background: url("../images/bgpattern.png");
	padding: 0;
	margin: 0;
	font-family: "Tahoma";
	color: #3a3a3a;
}

#header{
	height: 111px;
	width: 100%;
	background: url("../images/header.png") repeat-x;
}

.container{
	width:1100px;
	margin: 0 auto;
	overflow: auto;
	overflow: hidden;

}

/* Homepage */
.featureLogo{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.blocks{
	margin-top: 20px;
	height: 230px;
}

.block img{
	float: left;
}


.block{
	font-size: 19px;
	float: left;
	margin-right: 40px;
	padding-right: 30px;
	height: 200px;
}

.register{
	width: 180px;
}

.register input{
	width: 180px;
	margin-bottom: 3px;
}
.unlimited{
	width: 350px;
}

.download{
	width: 340px;
}

.download img{
	margin-top: 10px;
	
}

.block:last-child{
	border-right: none;
}

.block h1{
	margin: 0;
	margin-bottom: 10px;
	font-size: 29px;
}

/* Inputs and forms */

input{
	border-radius: 5px;
	border: solid 1px  #cbcbcb; 
	padding: 5px;
}

input:hover{
	background: #f8f8f8;
}

button,
input[type='submit']{
	background: #d47241;
	border: solid 1px #cb4a28; 
	border-radius: 5px;
	color: #fff;
	padding: 2px 5px 2px 5px;
	text-shadow: 1px 1px #636363;
}

button:hover,
input[type='submit']:hover{
	background: #e5632d;

}

/* Error */
.error{
	background: url("../images/stop.png") #c55353 no-repeat;
	background-position: 6px 5px;
	padding: 9px;
	padding-left: 60px;
	border: solid 1px #ab3d3d;
	color: #ffffff;
	min-height: 30px;
	font-size: 30px;
	display: none;
}

/* Confirmation */
.confirmation{
	background: url("../images/confirmation.png") #93c93d no-repeat;
	background-position: 3px 1px;
	padding: 9px;
	padding-left: 60px;
	border: solid 1px #607b35;
	color: #ffffff;
	min-height: 30px;
	font-size: 30px;
	margin: 0 auto;
	display: none;
} 

/* Processing */
.processing{
	background: #fff;
	padding: 9px;
	border: solid 1px #c2c2c2;
	color: #3a3a3a;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	overflow:hidden;
	height: 35px;
	
}
.processing .loading{
	height: 40px;
	width: 50px;
	float: left;
	
}

.processing .message{
	height: 40px;
	width: 350px;
	float: left;

}

.subnotifications{
	padding-top: 5px;
}

/* Login */
.login{
	margin-top: 30px;
	text-align: center;
}

.recover{
	padding-top: 35px;
	text-align: center;
}
#header input,
#header button{
	height: 25px;
	width: 200px;
	border: solid 1px #a13212;
	color: #cb4828;
	font-weight: bold;
	font-size: 15px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: inset 0px 0px 8px #dfaf99;
	
}



#header input[type='submit'], 
#header button
{
	height: 37px;
	color: #fff;
	background: #545454;
	box-shadow: none;
	border:solid 1px #3f3f3f;
}

#header .login input[type='submit']{
	width: 80px;
}



#header input[type='submit']:hover,
#header button:hover{
	box-shadow: inset 0px 5px 8px #6c6c6c;
}

#header input[type='submit']:active,
#header button:active{
	background: #3d3d3d;

}

.forgot{
	color: #fff;
	margin-left: 130px;
	margin-top: 5px;
	display: block;
	text-shadow: 1px 1px #a13212;
	
}
.forgot:hover{
	text-decoration: underline;
	cursor:help;
}

/* New Password */
.setNewPassword{
	width: 500px;
	margin: 0 auto;
	margin-top: 200px;
	border: solid 1px  #cbcbcb; 
	border-radius: 5px;
	background: #fff;
	padding: 10px;
}

.setNewPassword h1{
	margin-top: 0px;
	margin-bottom: 4px;

}

.setNewPassword .notifications{
	color: red;
}

/* User Area */
.navigation{
	list-style-type: none;
	color: #fff;
}

ul.navigation {
	padding: 0;
	margin: 0;
	float: left;
	
}
.navigation li{
	float: left;
	width: 130px;
	padding: 10px;
	padding-top: 80px;
	height: 20px;
	text-align:center;
	text-transform:uppercase;
	font-size: 14px;
	border-left: solid 1px #a13212;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigation li:last-child{
	border-right: solid 1px #a13212;
}

.navigation li:hover{
	background-color: #cb4d26;

}

.navigation li:active{
		box-shadow: inset 0px 3px 8px #9c381a;

}

.navigation a{
	color: white;
}

.boxi{
	background: url("../images/box.png")  no-repeat;
	background-position: 50px 15px;
}

.accounti{
	background: url("../images/account.png")  no-repeat;
	background-position: 50px 15px;
}

.statsi{
	background: url("../images/stats.png")  no-repeat;
	background-position: 50px 15px;
}

.feedbacki{
	background: url("../images/feedback.png")  no-repeat;
	background-position: 50px 15px;
}

.logouti{
	background: url("../images/logout.png")  no-repeat;
	background-position: 50px 15px;
}

.userInfo{
	width: 300px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 19px;
	
}

.userInfo .avatar{
	float: left;
}

.userInfo .avatar img{
	border-radius: 3px;
	border: solid 1px #a13212;
	width: 70px;
	height: 70px;
	visibility: hidden;
	
}


.userInfo .info{
	color: #fff;
	float: left;
	padding-left: 20px;
	padding-top: 14px;
	font-size: 23px;
	width: 200px;
	line-height: 18px;
	text-shadow: 1px 1px #a13212;
}


.userInfo .info .email{
	font-size: 15px;
}

/* User area body */
.content{
	width:1098px;
	background: white;
	border-right: solid 1px #b6b6b6;
	border-left: solid 1px #b6b6b6;
	overflow:hidden;
	position: absolute;
	bottom: 0px;
	top: 0px;
	z-index:-1;
	padding-top:111px;
}

.content .head{
	height: 33px;
	padding: 10px;
	background: #f2f2f2;
	color: #cb4f25;
	border-bottom:solid 4px #e1e1e1;
	
	
}

.content .head h1 {
	margin: 0;
	padding: 0;
	display: inline;
	margin-right: 5px;
	
}

/* Box */
.leftPanel{
	width: 230px;
	float: left;
	min-height:200px;
	border-right: solid 1px #e1e1e1;
	position:relative;
	bottom: 0px;
	
}

.leftPanel h2{
	margin: 0px;
	padding: 0px;
	padding: 5px 10px 5px 10px;
	background:#cc4e2b;
	color: #fff;
	font-size: 17px;
	border-left: solid 4px #a13212;
}

.leftPanel h2.explorer{
	background: url("../images/explorer.png") #cc4e2b no-repeat;
	background-position: 5px 5px;
	padding-left: 30px;
}


.items{
	margin-top: 10px;
	width: 100%;
	float: left;
	min-height:200px;

}

.path{
	padding-left: 15px;
	font-size: 26px;
	color: #cb4f25;
	font-weight: bold;
	padding-top: 2px;
}

.items li{
	list-style: none;
	border-top: solid 1px #e1e1e1;
	padding: 12px 10px 12px 10px;
	font-size: 17px;
}



.items li:last-child{
	border-bottom: solid 1px #e1e1e1;
}



.items li.directory{
	background: url('../images/folder.png') no-repeat;
	background-position: 8px 5px;
	padding-left: 50px;
	cursor: pointer;
	
}

.items li.file{
	background: url('../images/file.png') no-repeat;
	background-position: 8px 5px;
	padding-left: 50px;
	
}

/* -- Begin File Actions --*/
.items .file .actions{
	display: inline;
	float: right;
	
}

.items .file .actions button{
	cursor: pointer;
	
}

.items .file .actions button.download{
	width: 100px;
	background-color: #93c93d;
	border: solid 1px #607b35;
	
}

.items .file .actions button.delete{
	width: 100px;
	background-color: #c55353;
	border: solid 1px #5d2828;
	
}

.items .file .actions button.download:hover{
	box-shadow: inset 0px 3px 8px #699325;
}

.items .file .actions button.delete:hover{
	box-shadow: inset 0px 3px 8px #8c2f2f;
}


/* -- End File Actions --*/

.items li:hover{
	background-color: #f6f6f6;
}
.items ul{
	margin-right: 40px;
	
}


/* Popup box */
/* popup */
.popBox-holder 
{
    display:none;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 900;
    background-color:#000;
    filter:alpha(opacity=40);
    opacity:0.5;    
}

.popBox-container 
{
    display:none;
    background-color: #fff;
    border:4px solid #000;
    padding:10px;
    text-align:center;
    z-index: 9999;
    -webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 0px 25px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0px 25px rgba(0,0,0,.9);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);    
    border: 5px solid rgb(000, 0, 0);
    border: 5px solid rgba(000, 0, 0, .9);
    position: fixed;
}

.popBox-container .done-button
{
    margin-top:10px;
}

.popBox-container .button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.popBox-container .button:hover {
	text-decoration: none;
}
.popBox-container .button:active {
	position: relative;
	top: 1px;
}

.popBox-container .small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
.popBox-container .blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.popBox-container .blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.popBox-container .blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* end popup */