@CHARSET "ISO-8859-1";
@font-face {
    font-family: "Hattori Hanzo";
    
    src: url("../lib/Hattori_Hanzo.otf") ;
}
body{
	background: url("../images/bgpattern.png");
	padding: 0;
	margin: 0;
	font-family: "Hattori Hanzo";
	color: #3a3a3a;
}

#header{
	height: 111px;
	width: 100%;
	background: url("../images/header.png") repeat-x;
}

.limbo{
	height: 20px;
}

.container{
	width:1100px;
	margin: 0 auto;
	overflow: auto;
	overflow: hidden;

}

.featureLogo{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.blocks{
	margin-top: 20px;
	height: 230px;
}

.block img{
	float: left;
}


.block{
	font-size: 19px;
	float: left;
	margin-right: 40px;
	padding-right: 30px;
	height: 200px;
}

.register{
	width: 180px;
}

.register input{
	width: 180px;
	margin-bottom: 3px;
}
.unlimited{
	width: 350px;
}

.download{
	width: 340px;
}

.download img{
	margin-top: 10px;
	
}

.block:last-child{
	border-right: none;
}

.block h1{
	margin: 0;
	margin-bottom: 10px;
}

/* Inputs and forms */

input{
	border-radius: 5px;
	border: solid 1px  #cbcbcb; 
	padding: 5px;
}

input:hover{
	background: #f8f8f8;
}

button,
input[type='submit']{
	background: #d47241;
	border: solid 1px #cb4a28; 
	border-radius: 5px;
	color: #fff;
	padding: 2px 5px 2px 5px;
	text-shadow: 1px 1px #636363;
}

button:hover,
input[type='submit']:hover{
	background: #e5632d;

}

/* Error */
.error{
	background: url("../images/stop.png") #c55353 no-repeat;
	background-position: 6px 5px;
	padding: 9px;
	padding-left: 60px;
	border: solid 1px #ab3d3d;
	color: #ffffff;
	min-height: 30px;
	font-size: 30px;
	display: none;
}

/* Confirmation */
.confirmation{
	background: url("../images/confirmation.png") #93c93d no-repeat;
	background-position: 3px 1px;
	padding: 9px;
	padding-left: 60px;
	border: solid 1px #607b35;
	color: #ffffff;
	min-height: 30px;
	font-size: 30px;
	margin: 0 auto;
	display: none;
}

/* Processing */
.processing{
	background: #fff;
	padding: 9px;
	border: solid 1px #c2c2c2;
	color: #3a3a3a;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	overflow:hidden;
	height: 35px;
	
}
.processing .loading{
	height: 40px;
	width: 50px;
	float: left;
	
}

.processing .message{
	height: 40px;
	width: 350px;
	float: left;

}

/* Login */
.login{
	margin-top: 15px;
	text-align: center;
}

.recover{
	margin-top: 15px;
	text-align: center;
}
#header input,
#header button{
	height: 25px;
	width: 200px;
	border: solid 1px #a13212;
	color: #cb4828;
	font-weight: bold;
	font-size: 15px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: inset 0px 0px 8px #dfaf99;
	
}

#header input[type='submit'], 
#header button
{
	height: 37px;
	color: #fff;
	background: #545454;
	box-shadow: none;
	border:solid 1px #3f3f3f;
}

#header .login input[type='submit']{
	width: 80px;
}



#header input[type='submit']:hover,
#header button:hover{
	box-shadow: inset 0px 5px 8px #6c6c6c;
}

#header input[type='submit']:active,
#header button:active{
	background: #3d3d3d;

}

.forgot{
	color: #fff;
	margin-left: 130px;
	margin-top: 5px;
	display: block;
	text-shadow: 1px 1px #a13212;
	
}
.forgot:hover{
	text-decoration: underline;
	cursor:help;
}

/* New Password */
.setNewPassword{
	width: 500px;
	margin: 0 auto;
	margin-top: 200px;
	border: solid 1px  #cbcbcb; 
	border-radius: 5px;
	background: #fff;
	padding: 10px;
}

.setNewPassword h1{
	margin-top: 0px;
	margin-bottom: 4px;

}

.setNewPassword .notifications{
	color: red;
}

/* User Area */
.navigation{
	list-style-type: none;
	color: #fff;
}

ul.navigation {
	padding: 0;
	margin: 0;
	float: left;
	
}
.navigation li{
	float: left;
	width: 130px;
	padding: 10px;
	padding-top: 80px;
	height: 20px;
	text-align:center;
	text-transform:uppercase;
	font-size: 14px;
	border-left: solid 1px #a13212;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigation li:last-child{
	border-right: solid 1px #a13212;
}

.navigation li:hover{
	background-color: #cb4d26;

}

.navigation li:active{
		box-shadow: inset 0px 3px 8px #9c381a;

}

.navigation a{
	color: white;
}

.boxi{
	background: url("../images/box.png")  no-repeat;
	background-position: 50px 15px;
}

.accounti{
	background: url("../images/account.png")  no-repeat;
	background-position: 50px 15px;
}

.statsi{
	background: url("../images/stats.png")  no-repeat;
	background-position: 50px 15px;
}

.feedbacki{
	background: url("../images/feedback.png")  no-repeat;
	background-position: 50px 15px;
}

.logouti{
	background: url("../images/logout.png")  no-repeat;
	background-position: 50px 15px;
}

.userInfo{
	width: 300px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 19px;
	
}

.userInfo .avatar{
	float: left;
}

.userInfo .avatar img{
	border-radius: 3px;
	border: solid 1px #a13212;
	width: 70px;
	height: 70px;
	visibility: hidden;
	
}


.userInfo .info{
	color: #fff;
	float: left;
	padding-left: 20px;
	padding-top: 14px;
	font-size: 23px;
	width: 200px;
	line-height: 18px;
	text-shadow: 1px 1px #a13212;
}


.userInfo .info .email{
	font-size: 15px;
}

/* User area body */
.content{
	width:1098px;
	background: white;
	border-right: solid 1px #b6b6b6;
	border-left: solid 1px #b6b6b6;
	overflow:hidden;
	position: absolute;
	bottom: 0px;
	top: 0px;
	z-index:-1;
}

